@use 'main';

.Home{
    overflow: hidden;

    .hero{
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
        
        .heroText{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 30%;
            left: 15%;

            @media (max-width: 768px) {
                left: 10%;
            }
            @media (max-width: 600px) {
                left: 5%;
            }
    
            h2{
                font-size: calc(75px + 0.390625vw);
                font-family: inter, sans-serif;
                color: main.$primary;
                margin-bottom: 10px;
                font-weight: 700;
                text-align: left;
                overflow: visible;
                white-space: nowrap;

                @media (max-width: 768px) {
                    font-size: calc(50px + 0.390625vw);
                }
                @media (max-width: 600px) {
                    font-size: calc(40px + 0.390625vw);
                }
    
                span{
                    color: main.$highlight;
                }
            }

            .heroContent{
                
                p{
                    width: 40%;
                    font-size: calc(14px + 0.390625vw);
                    font-family: inter, sans-serif;
                    color: main.$primary2;
                    text-align: left;
                    margin-top: 2vh;

                    @media (max-width: 1000px) {
                        width: 60%;
                    }
                    @media (max-width: 600px) {
                        width: 80%;
                        font-size: calc(12px + 0.390625vw);
                    }
                }

                .heroButtons{
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    width: 20%;
                    margin-left: 20%;
                    margin-top: 5vh;

                    @media (max-width: 1000px) {
                        width: 40%;
                    }
                    @media (max-width: 600px) {
                        width: 60%;
                    }

                    #portfolio{
                        font-size: calc(14px + 0.390625vw);
                        position: relative;
        
                        &::after{
                            content: '';
                            background: main.$highlight;
                            display: block;
                            height: 0.40vh;
                            width: 100%;
                            transform: scaleX(0);
                            transform-origin: bottom right;
                            transition: transform 0.2s ease-out;
                            position: absolute;
                            border-radius: 5px;
                            margin-top: 2px;
                        }

                        &:hover::after{
                            transform: scaleX(1);
                            transform-origin: bottom left;
                        }
            
                        &:hover{
                            cursor: pointer;
                        }
                    }

                    #blog{
                        display: block;
                        font-family: inter, sans-serif;
                        background-color: white;
                        color: main.$highlight;
                        border: none;
                        padding: 8px 30px;
                        border-radius: 5px;
                        cursor: pointer;
                        font-size: calc(14px + 0.390625vw);
                        font-weight: 700;
                        transition: 200ms ease-out;
                        box-shadow: #b900e36d 0px 0px 29px 10px;
            
                        &:hover{
                            transform: scale(1.05);
                            box-shadow: #b900e3c5 0px 0px 29px 10px;
                        }
        
                        &::after{
                            height: 0;
                        }
                    }
                }
            }
        }
    
        .snowflake {
            position: absolute;
            top: 0;
            color: white;
            opacity: 0.8;
            text-align: center;
            user-select: none;
        }
        
        @keyframes fall {
            0% {
                top: -10%;
                opacity: 0;
            }
            10% {
                opacity: 0.8;
            }
            100% {
                top: 100%;
                opacity: 0.2;
            }
        }
        
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
    
    .head{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: initial;
        position: relative;
        margin: 5vh 0;

        .pre-head{
            display: block;
            padding: 1vh 1vw;
            font-size: calc(8px + 0.390625vw);
            background-color: main.$background2;
            color: main.$highlight;
            border-radius: 100px;
        }
    
        h2{
            font-size: calc(24px + 0.390625vw);
            font-family: inter, sans-serif;
            color: main.$primary;
            position: relative;
            margin: 0.5vh 0;

            @media (max-width: 768px) {
                font-size: calc(20px + 0.390625vw);
            }
            @media (max-width: 600px) {
                font-size: calc(30px + 0.390625vw);
            }
        }

        .sub-head{
            color: main.$primary2;
            font-size: calc(10px + 0.390625vw);
        }
    }
    
    
    .about{
        width: 70%;
        margin: 0 15%;
        margin-top: 15vh;
        margin-bottom: 5vh;

        @media (max-width: 1200px) {
            width: 90%;
            margin: 0 5%;
        }
        @media (max-width: 600px) {
            flex-direction: column;
            align-items: center;
        }
    
        img{
            width: 30%;
            border-radius: 20px;

            @media (max-width: 1000px) {
                width: 40%;
            }
            @media (max-width: 768px) {
                width: 30%;
            }
            @media (max-width: 600px) {
                width: 60%;
                margin-bottom: 4vh;
            }
        }
    
        .aboutContent{
            width: 100%;
            display: flex;

            @media (max-width: 1000px) {
                width: 50%;
            }
            @media (max-width: 768px) {
                width: 60%;
            }
            @media (max-width: 600px) {
                width: 90%;
                flex-direction: column-reverse;
            }
    
            &>p{
                margin-top: 5vh;
                margin-right: 5vw;
                font-size: calc(16px + 0.390625vw);
                font-family: inter, sans-serif;
                color: main.$primary;
                text-align: left;
                text-indent: 3vw;

                @media (max-width: 1000px) {
                    font-size: calc(14px + 0.390625vw);
                }
                @media (max-width: 768px) {
                    font-size: calc(10px + 0.390625vw);
                }
                @media (max-width: 600px) {
                    font-size: calc(15px + 0.390625vw);
                    text-align: center;
                }
            }
        }
    }

    .techStack{
        width: 70%;
        margin: 0 15%;
        margin-top: 15vh;
        margin-bottom: 5vh;

        @media (max-width: 1200px) {
            width: 90%;
            margin: 0 5%;
        }
        @media (max-width: 600px) {
            flex-direction: column;
            align-items: center;
        }
    }
}