@use 'main';

.Home{
    overflow: hidden;

    .hero{
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
        
        .heroText{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 30%;
            left: 15%;

            @media (max-width: 768px) {
                left: 10%;
            }
            @media (max-width: 600px) {
                left: 5%;
            }
    
            h2{
                font-size: calc(75px + 0.390625vw);
                font-family: inter, sans-serif;
                color: main.$primary;
                margin-bottom: 10px;
                font-weight: 700;
                text-align: left;
                overflow: visible;
                white-space: nowrap;

                @media (max-width: 768px) {
                    font-size: calc(50px + 0.390625vw);
                }
                @media (max-width: 600px) {
                    font-size: calc(40px + 0.390625vw);
                }
    
                span{
                    color: main.$highlight;
                }
            }

            .heroContent{
                
                p{
                    width: 40%;
                    font-size: calc(14px + 0.390625vw);
                    font-family: inter, sans-serif;
                    color: main.$primary2;
                    text-align: left;
                    margin-top: 2vh;

                    @media (max-width: 1000px) {
                        width: 60%;
                    }
                    @media (max-width: 600px) {
                        width: 80%;
                        font-size: calc(12px + 0.390625vw);
                    }
                }

                .heroButtons{
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    width: 20%;
                    margin-left: 20%;
                    margin-top: 5vh;

                    @media (max-width: 1000px) {
                        width: 40%;
                    }
                    @media (max-width: 600px) {
                        width: 60%;
                    }

                    #portfolio{
                        font-size: calc(14px + 0.390625vw);
                        position: relative;
        
                        &::after{
                            content: '';
                            background: main.$highlight;
                            display: block;
                            height: 0.40vh;
                            width: 100%;
                            transform: scaleX(0);
                            transform-origin: bottom right;
                            transition: transform 0.2s ease-out;
                            position: absolute;
                            border-radius: 5px;
                            margin-top: 2px;
                        }

                        &:hover::after{
                            transform: scaleX(1);
                            transform-origin: bottom left;
                        }
            
                        &:hover{
                            cursor: pointer;
                        }
                    }

                    #blog{
                        display: block;
                        font-family: inter, sans-serif;
                        background-color: white;
                        color: main.$highlight;
                        border: none;
                        padding: 8px 30px;
                        border-radius: 5px;
                        cursor: pointer;
                        font-size: calc(14px + 0.390625vw);
                        font-weight: 700;
                        transition: 200ms ease-out;
                        box-shadow: #b900e36d 0px 0px 29px 10px;
            
                        &:hover{
                            transform: scale(1.05);
                            box-shadow: #b900e3c5 0px 0px 29px 10px;
                        }
        
                        &::after{
                            height: 0;
                        }
                    }
                }
            }
        }
    
        .snowflake {
            position: absolute;
            top: 0;
            color: white;
            opacity: 0.8;
            text-align: center;
            user-select: none;
        }
        
        @keyframes fall {
            0% {
                top: -10%;
                opacity: 0;
            }
            10% {
                opacity: 0.8;
            }
            100% {
                top: 100%;
                opacity: 0.2;
            }
        }
        
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
    
    .head{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: initial;
        position: relative;
        margin: 5vh 0;

        .pre-head{
            display: block;
            padding: 0.8vh 0.8vw;
            font-size: calc(8px + 0.390625vw);
            background-color: main.$background2;
            color: main.$highlight;
            border-radius: 100px;
        }
    
        h2{
            font-size: calc(24px + 0.390625vw);
            font-family: inter, sans-serif;
            color: main.$primary;
            position: relative;
            margin: 0.5vh 0;

            @media (max-width: 768px) {
                font-size: calc(20px + 0.390625vw);
            }
            @media (max-width: 600px) {
                font-size: calc(30px + 0.390625vw);
            }
        }

        .sub-head{
            color: main.$primary2;
            font-size: calc(10px + 0.390625vw);
            width: 50%;

            @media (max-width: 700px) {
                width: 80%;
            }
            @media (max-width: 500px) {
                width: 95%;
            }
        }
    }
    
    
    .about{
        width: 70%;
        margin: 0 15%;
        margin-top: 15vh;
        margin-bottom: 5vh;

        @media (max-width: 1000px) {
            width: 80%;
            margin: 0 10%;
            margin-top: 15vh;
            margin-bottom: 5vh;
        }
    
        .aboutContent{
            width: 100%;
            display: flex;

            @media (max-width: 600px) {
                flex-direction: column;
                align-items: center;
            }

            img{
                width: 30%;
                border-radius: 20px;
    
                @media (max-width: 1000px) {
                    width: 40%;
                }
                @media (max-width: 600px) {
                    width: 60%;
                    margin-bottom: 4vh;
                }
            }
    
            &>p{
                margin-top: 5vh;
                margin-left: 5vw;
                font-size: calc(16px + 0.390625vw);
                font-family: inter, sans-serif;
                color: main.$primary;
                text-align: left;
                text-indent: 3vw;

                @media (max-width: 1200px) {
                    font-size: calc(12px + 0.390625vw);
                }
                @media (max-width: 1000px) {
                    font-size: calc(14px + 0.390625vw);
                }
                @media (max-width: 768px) {
                    font-size: calc(10px + 0.390625vw);
                }
                @media (max-width: 600px) {
                    font-size: calc(12px + 0.390625vw);
                    text-align: center;
                    text-indent: 0;
                    margin: 0;
                }
            }
        }
    }

    .techStackContainer{
        width: 70%;
        margin: 0 15%;
        margin-top: 25vh;
        padding-bottom: 5vh;

        @media (max-width: 1200px) {
            width: 90%;
            margin: 0 5%;
            margin-top: 25vh;
            padding-bottom: 5vh;
        }
        @media (max-width: 600px) {
            flex-direction: column;
            align-items: center;
        }

        .head{
            margin-bottom: 0;
        }

        .techStack{
            width: 100%;

            .gameDecision{
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 10vh;
                margin-bottom: 20vh;

                button{
                    margin: 0 1vw;
                }

                #no{
                    display: block;
                    padding: 10px 20px;
                    font-size: calc(14px + 0.390625vw);
                    font-family: inter, sans-serif;
                    color: main.$primary;
                    background-color: main.$background2;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: 200ms ease-out;
        
                    &:hover{
                        transform: scale(1.05);
                    }
                }

                #yes{
                    display: block;
                    padding: 10px 20px;
                    font-size: calc(14px + 0.390625vw);
                    font-family: inter, sans-serif;
                    color: main.$primary;
                    background-color: main.$highlight;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: 200ms ease-out;
                    box-shadow: #b900e36d 0px 0px 29px 10px;
        
                    &:hover{
                        transform: scale(1.05);
                        box-shadow: #b900e3c5 0px 0px 29px 10px;
                    }
                }
            }

            #switch{
                position: absolute;
                top: 0;
                right: 0;
                display: block;
                cursor: pointer;
                padding: 10px 20px;
                border: none;
                background-color: transparent;
                color: main.$primary;
                font-weight: 500;
                font-family: 'Rethink Sans', sans-serif;
                font-size: calc(12px + 0.390625vw);
            }

            .game, .noGame{
                position: relative;
                padding-top: 8vh;
            }

            .game{
                width: 100%;

                .win{
                    width: 100%;
                    height: calc(60vh + 40px);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                #success{
                    color: rgb(3, 167, 3);
                    font-size: calc(22px + 0.390625vw);
                    font-family: inter, sans-serif;
                    text-align: center;
                    margin-bottom: 2vh;
                    font-weight: 700;

                    @media (max-width: 600px) {
                        font-size: calc(16px + 0.390625vw);
                    }
                }

                .instructions{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 2vh;

                    #instruction{
                        font-size: calc(14px + 0.390625vw);
                        font-family: inter, sans-serif;
                        color: main.$primary;
                        text-align: center;
                        font-weight: 400;

                        @media (max-width: 600px) {
                            font-size: calc(10px + 0.390625vw);
                        }
                    }

                    #currentStack{
                        font-size: calc(22px + 0.390625vw);
                        font-family: inter, sans-serif;
                        color: main.$primary;
                        text-align: center;
                        font-weight: 700;
                        margin-left: 1vw;

                        @media (max-width: 600px) {
                            font-size: calc(16px + 0.390625vw);
                        }
                    }
                }

                .options{
                    display: grid;
                    width: 100%;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                    grid-template-rows: 20vh 20vh 20vh; 
                    gap: 20px;

                    @media (max-width: 700px) {
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        grid-template-rows: 20vh 20vh 20vh 20vh; 
                    }
                    @media (max-width: 500px) {
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 20vh 20vh 20vh 20vh 20vh; 
                    }

                    button{
                        width: 100%;
                        background-color: main.$background2;
                        color: main.$primary;
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        border-radius: 15px;
                        border: none;
                        cursor: pointer;

                        &.selected{
                            border: 2px solid main.$primary;
                        }

                        img{
                            width: auto;
                            height: 50%;
                            object-fit: cover;
                        }

                        p{
                            font-size: calc(12px + 0.390625vw);
                            font-family: inter, sans-serif;
                            color: main.$primary;
                            text-align: center;
                            margin-top: 5px;
                            font-weight: 600;
                        }
                    }
                }
            }

            .noGame{
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 45vh 45vh;
                grid-gap: 20px;

                @media (max-width: 600px) {
                    grid-template-columns: 1fr;
                    grid-template-rows: 40vh 40vh 40vh 40vh;
                }
    
                &>div{
                    background-color: transparent;
                    perspective: 1000px;
                    border: none;
                    cursor: pointer;
    
                    &>div{
                        position: relative;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        transform-style: preserve-3d;
    
                        &>div{
                            background-color: main.$background2;
                            color: main.$primary;
                            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                            border-radius: 15px;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            -webkit-backface-visibility: hidden; /* Safari */
                            backface-visibility: hidden;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            padding: 2vh;

                            &.front{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                width: 100%;
                                height: 100%;

                                h3{
                                    font-size: calc(16px + 0.390625vw);
                                    font-family: inter, sans-serif;
                                    color: main.$primary;
                                    text-align: left;
                                    width: 100%;

                                    &::after{
                                        content: '';
                                        display: block;
                                        width: 90%;
                                        height: 2px;
                                        background-color: main.$highlight;
                                        margin-top: 1vh;
                                    }
                                }

                                p{
                                    font-size: calc(12px + 0.390625vw);
                                    font-family: inter, sans-serif;
                                    color: main.$primary;
                                    text-align: left;
                                    margin-top: 5px;
                                }
                            }

                            &.back{
                                width: 100%;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: space-between;
                                padding-top: 1vh;

                                >div{
                                    width: 100%;
                                    height: 33%;
                                    
                                    p{
                                        text-align: left;
                                        font-size: calc(10px + 0.390625vw);
                                    }

                                    >div{
                                        background-color: main.$background1;
                                        border: 2px solid main.$primary2;
                                        width: 100%;
                                        height: 70%;
                                        border-radius: 10px;
                                        display: flex;
                                        justify-content: left;
                                        align-items: center;
                                    }
    
                                    .tech{
                                        height: 100%;
                                        display: flex;
                                        align-items: center;
                                        flex-direction: column;
                                        justify-content: center;
                                        padding: 0 1vw;
    
                                        img{
                                            padding-top: 5%;
                                            height: 60%;
                                            object-fit: cover;
                                        }
    
                                        p{
                                            font-size: calc(8px + 0.390625vw);
                                            font-family: inter, sans-serif;
                                            color: main.$primary;
                                            text-align: left;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    
                .machineLearning{
                    &>div{
                        transition: transform 500ms;
                    }
    
                    &.flipped .flipContainer {
                        transform: rotateX(180deg);
                    }
    
                    .back{
                        transform: rotateX(180deg);
                    }
                }
    
                .webDevelopment{
                    &>div{
                        transition: transform 700ms;
                    }
    
                    &.flipped .flipContainer {
                        transform: rotateY(180deg);
                    }
    
                    .back{
                        transform: rotateY(180deg);
                    }
                }
    
                .webScraping{
                    &>div{
                        transition: transform 700ms;
                    }
                    
                    &.flipped .flipContainer {
                        transform: rotateY(-180deg);
                    }
    
                    .back{
                        transform: rotateY(-180deg);
                    }
                }
    
                .gameDevelopment{
                    &>div{
                        transition: transform 500ms;
                    }
    
                    &.flipped .flipContainer {
                        transform: rotateX(-180deg);
                    }
    
                    .back{
                        transform: rotateX(-180deg);
                    }
                }
            }
        }
    }
}