@import 'main';

.NavBar {
    width: 70%;
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 200ms ease-in-out;
    

    h1{
        padding: 0 20px;
        cursor: pointer;
        font-weight: 500;
        font-size: calc(25px + 0.390625vw);
        font-family: "Rethink Sans", sans-serif;

        a{
            text-decoration: none;
            color: $primary;
        }
    }

    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 35%;
        list-style: none;
        padding: 0;
        margin: 0;
        font-weight: 500;
        font-family: inter, sans-serif;
        margin-right: 2%;

        li{
            padding: 0 10px;
            position: relative;

            a{
                text-decoration: none;
                color: $primary;
                font-size: calc(12px + 0.390625vw);

                &::after{
                    content: '';
                    background: $highlight;
                    display: block;
                    height: 0.20vw;
                    width: calc(100% - 20px);
                    transform: scaleX(0);
                    transform-origin: bottom right;
                    transition: transform 0.2s ease-in-out;
                    position: absolute;
                    border-radius: 5px;
                    margin-top: 2px;
                }
        
                &:hover::after{
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
    
                &:hover{
                    cursor: pointer;
                }
            }

            #contactButton{
                display: block;
                font-family: inter, sans-serif;
                background-color: $highlight;
                color: white;
                border: none;
                padding: 8px 30px;
                border-radius: 5px;
                cursor: pointer;
                font-size: calc(10px + 0.390625vw);
                font-weight: 500;
                transition: 200ms ease-in-out;
                box-shadow: #b900e36d 0px 0px 29px 10px;
    
                &:hover{
                    transform: scale(1.05);
                    box-shadow: #b900e3c5 0px 0px 29px 10px;
                }

                &::after{
                    height: 0;
                }
            }
        }
    }
}


.hometrue{
    height: 100px;
}