@use 'main';

.ReadingList{

    header{
        width: 100%;
        height: calc(35vh - 90px);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        h1{
            width: auto;
            font-size: calc(36px + 0.390625vw);
            font-family: inter, sans-serif;
            color: main.$primary;
            margin-bottom: 2vh;
            position: relative;
    
            &:after{
                content: '';
                display: block;
                width: 100%;
                height: 0.40vw;
                background: main.$highlight;
            }
        }
    
        p{
            max-width: 70%;
            font-size: calc(16px + 0.390625vw);
            font-family: inter, sans-serif;
            color: main.$primary2;
        }

        @media (max-width: 768px) {
            h1{
                font-size: calc(24px + 0.390625vw);
            }

            p{
                max-width: 90%;
                font-size: calc(12px + 0.390625vw);
            }
        }
    }

    section{
        width: 70%;
        margin: auto;
        padding: 2vh 0;
        position: relative;

        @media (max-width: 1200px) {
            width: 95%;
            padding: 2vh 2.5%;
        }

        .infoContainer{
            background-color: main.$background2;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2vh;
            margin: 1vh 0;
            transition: 100ms ease-in-out;

            div{
                display: flex;
                align-items: center;
                max-width: 90%;

                h2,a{
                    font-size: calc(8px + 0.78125vw);
                    font-family: inter, sans-serif;
                    font-weight: 500;
                    text-align: left;
                }

                a{
                    color: main.$highlight;
                    padding: 0 2vw;
                    transition: 100ms ease-in-out;
                    white-space: nowrap;
                    
                    &:hover{
                        transform: scale(1.05);
                    }
                }
            }

            &>p{
                font-size: calc(8px + 0.78125vw);
                font-family: inter, sans-serif;
                font-weight: 800;
                text-align: center;
                width: 10%;
            }
        }

        .more{
            width: 100%;
            display: flex;
            justify-content: right;
    
            button{
                background-color: transparent;
                padding: 2vh;
                margin-right: 1vw;
                border: none;
                color: main.$primary;
                font-size: calc(8px + 0.78125vw);
                cursor: pointer;
            }
        }
    }
}